<h1>Subscriptions</h1>

<div id="currencies">
  USD to EUR: <%= @currency_rates.usd %>
</div>

<ul id="subscriptions">
  <%= render @subscriptions %>
</ul>

<%= form_with model: @subscription, id: 'new-subscription' do |f| %>
  <%= f.label :category %>
  <%= f.select :category, options_for_category_select %>

  <%= f.submit 'Subscribe!' %>
<% end %>
