<!DOCTYPE html>
<html>
<head>
  <title>TDDBasics</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="main-menu">
  <% if current_user %>
    <ul>
      <li>Logged in as <span class="user-email"><%= current_user.email %></span></li>
      <li><%= link_to 'Logout', sessions_path,
                      class: 'logout', data: {method: :delete} %></li>
    </ul>
  <% end %>
</div>

<% flash.each do |k, v| %>
  <%= tag.div v, class: "alert alert-#{k}" %>
<% end %>

<%= yield %>
</body>
</html>
